html, body {
  background-color: darkorange;
  max-width: 100%;
  overflow-x: hidden;
}

.box {
  display: inline-block;       
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: lightgray;
}

.on {
  background-color: limegreen;
}
  
.box:hover { 
  background: #00CCFF;
}

.buttons {
  display: flex;
  justify-content: center;
}

.button {
  margin: 1rem;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 5px white;
  margin-top: 20px;
}
  
h1, h2, h3, h4 {
  font-family: 'Noto Sans JP', sans-serif;
  color: black;
  font-weight: 800;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}